/*======== /Global/ ========*/
:root {
 /*------------Standard Variables----------------*/ 
  --baseText-color: #000000;
  --altText-color: #ffffff;

 /*------------Standard Theme----------------*/ 
  --baseColor-background:#F2890D;
  --baseColor-one: #1180E6; 
  --baseColor-two: #b0a3a3;
  --gradient-one: linear-gradient(135deg, #0d59a0, var(--baseColor-one), #0d59a0);
  --gradient-two: linear-gradient(135deg, var(--baseColor-background), #ffab19, var(--baseColor-background));

 /*------------Dark Theme----------------*/ 
  --DarkTheme-background: rgb(9, 39, 73);
  --DarkTheme-colorOne: rgb(46, 51, 78);
  --DarkTheme-colorTwo: #c56900;

 /*------------Text Variables----------------*/ 
  --title-squada: 'Squada One', cursiva; 
  --title-start: 'Press Start 2P', cursive; 
  --title-roboto: 'Roboto', sans;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%; /* 15px */
}

/*======== /Main/ ========*/
body {
  overflow-x: hidden;

  width: 100%;
  height: 100%;
  padding-top: 9rem;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: var(--gradient-one);
}

.switch-Theme {
  width: 14rem;

  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

#titleBox {
  width: 17.2rem;
  height: 10rem;

  position: absolute;
  top: 7%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--gradient-two);
  border-radius: 1.34rem;

  animation: spinner 2s linear;
}

h1 {
  font-family: var(--title-squada);
  color: var(--altText-color);

  text-align: center;

  font-size: 4.67rem;
  font-weight: 400;
}


main {
  background-color: var(--altText-color);
  width: 75vw;
  height: 40rem;
 
  border-radius: 1.34rem;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);

  display: flex;
  align-items: center;
  padding: 4rem 0.8rem 0;
}

section {
  display: flex;

  align-items:  center;
  flex-direction: column;
  
  width: 100%;
  height: auto;
  padding: 0 1.34rem 0 3.2rem;
  animation: fade 1s linear;
}

#game {
  justify-content: space-between;
}

.input-box {
  display: flex;
  align-items: baseline; 
  flex-direction: column;
  margin: 0.67rem 0 3.4rem 0;
}

label.description {
  font-family: var(--title-start);
  font-size: 1.2rem;

  margin-bottom: 1.13rem;
}

input, select {
  width: 23.34rem;
  height: 2.8rem;

  font-size: 1.2rem;

  text-align: center;

  border: 2px solid var(--baseColor-two);
}

.switch-Theme > input {
  width: 1.5rem;
}

input:disabled, select:disabled {
  background-color: rgba(128, 128, 128, 0.3);
}

p{
  text-align: center;
  font-size: 1.67rem;
  font-family: var(--title-roboto);
}

#message {
  margin-bottom: 3rem;
}

a {
  min-width: 13.33rem;
  height: auto;
  padding: 0.8rem 2.47rem;

  margin-bottom: 4.07rem;
  border: 3px solid black;
  border-radius: 1.4rem;
  
  text-decoration: none;
  text-align: center;

  font-size: 1.2rem;
  font-family: var(--title-start);
  
  background: var(--gradient-two);
  color: var(--altText-color);
}

a:last-child{
  background: var(--gradient-one);
}

a.playAgain {
  margin-bottom: 0;
}

.divider {
  height: 30.67rem;
  width: 0.66rem;
  background-color: var(--baseColor-two);
}

footer {
  margin: 2.66rem 0;
  text-align: center;
  font-family: var(--title-roboto);
  font-size: 1.07rem;
}

h3 {
  color: var(--altText-color);
  text-shadow: 2px 2px 3px #000000;
  margin: 1rem 0;
}

.popUp {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 100;
  top: 0;
  
  width: 100%;
  height: 100%;

  visibility: hidden;
}

.winner {
  background: rgba(0, 133, 27, 0.4);
  visibility: visible;

}

.loser {
  background: rgba(133, 4, 0, 0.4);
  visibility: visible;
}

.popUpMessage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  width: 37.34rem;
  height: 24rem;
  padding: 0 2rem;


  background: var(--altText-color);
  color: var(--baseText-color);
  border-radius: 1.4rem;
}

.animation {
  animation: scale 500ms linear;
}

/*======== /Animations/ ========*/
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale{
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  50% {
    opacity: 1;
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spinner {
  0% {
    opacity: 0;
  }

  50% {
    transform: rotateY(540deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}

/*======== /Responsivity/ ========*/
/* @media (max-width)  {} */

@media (max-width: 768px) {
  
  #titleBox {
    top: 10%;
  }
  main {
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    padding: 0 0.8rem 2rem;
  }

  section {
    padding: 0;
    margin-top: 6.4rem;
  }

  .divider {
    display: none;
  }
}

@media (max-width: 428px) {
  label.description {
    font-size: 1.06rem;
  }

  input, select {
    width: 18.6rem;
  }

  p {
    font-size: 1.4rem;
  }

  .popUpMessage {
    width: 25rem;
  }
}